body {
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
  }

  a, a:active, a:visited {
    text-decoration: none;
    color: orangered;
  }

  a:hover {
    cursor: pointer;
    color: orangered;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .tanja {
    line-height: 1.1em;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: orangered;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.3em;
  }

  section {
    padding: 10em 0 0 0;
  }

  .intro {
    font-size: 3vw;
    line-height: 1.1em;
    color: orangered;
    text-align: center;
    margin-top: 10em;
  }

  #gif {
    text-align: center;
  }

  .indent {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .list {
    margin-left: 10vw;
    color: black;
    list-style-type: none;
  }

  .list li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }

  #aboutme {
    color: black;
  }

  .title {
    font-size: 5vw;
    line-height: 1em;
    font-family: forma-djr-display, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .footer {
    color: orangered;
  }


  @media screen and (max-width: 1000px) {
    body {
      font-size: 16px;
    }

    .indent {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  }