  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 20px;
  }