* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
    font-family: forma-djr-display, sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.04em;
    word-spacing: 0.035em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
    overflow-x: hidden;
    /* color: #7b68ee; */
    color: #2A0E69;
    /* background-color: rgb(235, 235, 235, 0.8); */
    background-color: white;
}

b {
  letter-spacing: 0.075em;
}

.portrait {
  position: relative; /* Hält das Bild als Hintergrund */
  height: 100vh; /* Volle Bildschirmhöhe */
  background-image: url('img/Tanja-2199.png'); /* Hintergrundbild */
  background-size: cover;
  background-position: center;
}

.title-overlay {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 3vw;
  /* color: #2E294E; */
  color: #2A0E69;
  text-align: center;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 0% 5% 0% 5%;
}
  
  .buch-info {
      flex: 1;
      text-align: center; /* Center the image horizontally */
}
  
  .buchcover {
      max-width: 100%;
      height: auto;
}
  
  .home-text {
      flex: 1;
      padding: 20px; /* Add some padding for better spacing */
      text-align: left; /* Align text to the left */
}

.subtitle {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 2.2vw;
  color: #2A0E69;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

.section-text {
  /* padding: 0% 22% 0% 22%; */
  padding-left: 20%;
  padding-right: 20%;
  color: #2A0E69;
}

.leistung-titel {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 2.2vw;
  color: #2A0E69;
  line-height: 3em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 0.5%;
  padding-top: 1%;
}

.leistung-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leistung-text p{
  padding: 0% 20% 2% 20%;
}

.imprint-footer {
  font-size: 0.8em;
  text-align: center;
  padding: 2% 0% 2% 0%;
}

.imprint {
  background-color: rgb(235, 235, 235, 0.8);
  font-size: 1.2em;
  text-align: left;
  padding: 0vw 20vw 6vw 20vw;
  height: 100vh;
}

sub {
  display: block;
  text-align: center;
}

h2 {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 6% 10% 5% 10%;
  color: orangered;
}

h3 {  
  font-weight: 500;
  /* font-size: 1.5em; */
  text-align: center;
  padding: 4% 0% 2% 0%;
  color: orangered;
}

.highlight-color {
  color: orangered;
}

#home {
  /* background-color: #E9E1FB; */
  padding: 0% 0% 0% 0% !important;
}

.buch-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.buchcover {
  width: 22vw;
}

.buchcover:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buch-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  gap: 4vw; /* Space between the image and text */;
  margin-top: 8vw;
}

.buchcover-small {
  max-width: 15vw; /* Adjust the width as needed */
  height: auto;
}

.buchcover-small:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buch-text {
  font-size: 1.2vw;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #2A0E69 !important; /* Original color */
}

.buch-text p {
  margin-bottom: 10px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #000;
}

/* – – – – Leistungen REFERENZEN – – – – */

.reference-section {
  max-width: 50%;
  margin: 0 auto;
  /* border: 1px solid orangered; */
  border: 2px solid rgb(235, 235, 235, 0.8);
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.reference-header {
  text-align: center;
  font-size: 0.7em;
  border-bottom: 2px solid rgb(235, 235, 235, 0.8);
}

.reference-group {
  display: flex;
  flex-direction: column;
}

.reference-title {
  font-family: forma-djr-display, sans-serif;
  padding: 10px 10px 10px 24px;
}

.reference-toggle {
  all: unset; /* Reset all styles */
  background: none;
  /* border: none; */
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.reference-content {
  height: 0;
  font-size: 0.7em;
  padding: 0 24px;
  overflow: hidden;
  transition: height 0.2s ease;
  border-bottom: 2px solid rgb(235, 235, 235, 0.8);
}

.reference-content p {
  all: unset;
  padding-bottom: 20px;
}

.reference-section:hover {
  border: 2px solid rgb(220, 220, 220, 1);
  transition: all 0.2s ease;
}

.reference-section:hover .reference-header {
  border-bottom: 2px solid rgb(220, 220, 220, 1);
}

.reference-section:hover .reference-content {
  border-bottom: 2px solid rgb(220, 220, 220, 1);
}

/* Remove the bottom border from the last one */
.reference-wrap:last-child .reference-content {
  border-bottom: none;
}

.reference-content.open {
  height: auto; /* Allow content to expand */
}

/* – – – – Über Mich START – – – – */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1 part for text, 1 part for accordion */
  align-items: center;
  align-items: start;
  /* background-color: orangered; */
}

.image-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between images */
}

.profile {
  /* flex: 1;
  text-align: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0% 3% 0%;
}

.profile p {
  margin-top: 2.8vw;
}

.links {
    color: orangered;
    /* background-color: white; */
    background-color: rgb(235, 235, 235, 0.4);
    font-size: 1.5vw;
    letter-spacing: 0.06em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    /* border: 2px solid rgb(235, 235, 235); */
}

.links:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    /* border: 2px solid #2A0E69; */
    transition: all 0.2s ease;
}

.links-spacer {
  margin-top: 3vw;
  text-align: center;
}

.links-back {
  margin-top: 3vw;
  text-align: center;
}

.link-easy {
  word-spacing: 0em !important;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* Dicke der Unterstreichung */
  text-underline-offset: 3px; /* Abstand zur Schrift */
  color: inherit;
}

.link-easy:hover {
  color: orangered;
  transition: all 0.2s ease;
}

/* – – – – Räume – – – – */

.headline {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
  font-family: forma-djr-display, sans-serif;
  letter-spacing: 0.02em;
}

.section {
  margin-bottom: 15px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #2A0E69;
}

/* – – – – Navigation – – – – */

  .fixed-nav {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 10px;
    z-index: 1000;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: orangered !important;
}
  
  .fixed-nav a {
    text-decoration: none;
    color: orangered;
    background-color: rgb(235, 235, 235, 0.8);
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    color: #fefefe;
    background-color: orangered;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4); /* Drop shadow on hover */
    border-radius: 4px;
    transition: all 0.4s ease;
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

.fixed-nav .nav-link.active {
  color: white; /* Change to your desired highlight color */
  background-color: orangered;
  border-radius: 4px;
  transition: background-color 1s ease;
}

/* ####### testing here ###### */

.image-stack {
  position: relative;
  width: 100%;
  max-width: 600px; /* or any size you want */
  aspect-ratio: 4 / 3; /* or remove if you want fixed height below */
  margin: auto;
  overflow: visible; /* important: allow rotated images to peek out */
  cursor: pointer;
}

.image-stack img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.5s ease;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  opacity: 1;
  z-index: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-counter {
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

/* Mobile responsive styling */

@media (max-width: 768px) {
  body {
    font-size: 1.2em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .portrait {
    background-image: url('img/Tanja-2199-mobile.png'); /* Hintergrundbild */
  }

  section {
    padding-top: 20%; /* 22% was working */
    padding-bottom: 2%;
  }

  h2 {
    padding-bottom: 11%;
  }

  h3 {
    padding-top: 10%;
  }

  #home {
    padding: 0% 0% 0% 0% !important;
  }

  .home-container {
    grid-template-columns: 1fr; /* Adjust the grid layout for mobile */
  }

  .buch-info {
    padding-top: 10%;
  }

  .buchcover-small {
    max-width: 50%;
  }

  ul {
    margin: 0% 5% 0% 5%;
  }

  .title-overlay {
    font-size: 1.6em;
  }

  .subtitle {
    font-size: 4vw;
  }

  .section-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .reference-section {
    max-width: 90%;
  }

  .links {
    font-size: 1em;
  }

  .nav-wrapper {
    display: flex;
  }

  .fixed-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    font-size: 1.2em;
    text-align: center;
    transition: top 0.3s; /* Smooth transition for hiding/showing */
    top: 0; /* Initial position */
  }

  .fixed-nav a {
    padding: 5px 10px;
    white-space: nowrap;
  }

  .buch-container {
    flex-direction: column;
    align-items: center;
  }

  .buchcover {
    max-width: 80%;
  }

  .buch-text {
    text-align: center;
    font-size: 1em;
  }

  .leistung-text p{
    padding: 0% 5% 2% 5%;
  }

  .section {
    margin-bottom: 5px;
  }

  .profile-container {  
    flex-direction: column;
    align-items: center;
    margin: 5% 1% 0% 5%;
  }

  .profile img {
    max-width: 80%;
  }

  .imprint {
    padding: 0% 5% 6% 5%;
  }

  .imprint-footer {
    padding: 16% 0% 5% 0%;
  }
}