* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.6em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
}

.title {
  font-family: forma-djr-display, sans-serif;
  color: white;
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0% 5% 0%;
}

.subtitle {
  font-family: forma-djr-display, sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  padding-top: 4%;
  padding-bottom: 11%;
}

.section-text {
  /* padding: 0% 22% 0% 22%; */
  padding-left: 22%;
  padding-right: 22%;
}

.imprint {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
  text-align: center;
  padding: 2% 0% 2% 0%;
}

h2 {
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 8% 10% 7% 10%;
}

#home {
  background-color: #0052ff;
  padding-top: 8%;
}

#intro {
  background-color: #ebebeb;
}

#zweiraeume {
  background-color: #7b68ee;
}

#buch {
  background-color: #b79773;
}

#about {
  background-color: #ebebeb;
}

#angebot {
  background-color: blanchedalmond;
}

#links {
  background-color: #ff0;
}

.zitat {
  font-style: italic;
  text-align: center;
  padding: 4% 18% 0% 18%;
}

/* – – – – Akkordeon – – – – */

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
}

button::before {
  content: "";
  display: inline-block;
  width: 10px; /* Size of the disc */
  height: 10px;
  margin-right: 14px; /* Space between disc and button text */
  background-color: black; /* Color of the disc */
  border-radius: 50%; /* Makes it a circle */
  vertical-align: middle; /* Aligns it with the button text */
  margin-bottom: 3px;
}

/* Center container with flexbox */
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Adjusted accordion styling */
.accordion {
  background-color: #fff;
  cursor: pointer;
  width: 60%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color, border-radius 0.2s ease;
  border-radius: 0px 0px 0px 0px;
  padding: .5% .5% .5% 20px;
  margin-bottom: 5px;
}

.accordion:hover {
  background-color: #eee;
  border-radius: 15px 15px 0px 0px;
}

.accordion.active {
  background-color: #eee;
  margin-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
}

.panel {
  width: 60%;
  display: none;
  overflow: hidden;
  margin: 0 auto; /* Center the panel */
  background-color: white;
  margin-bottom: 5px;
}

.panel p {
  margin: 20px;
}

/* – – – – Tanja Stephie Images START – – – – */

.image-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between images */
}

.profile img {
  aspect-ratio: 3 / 4;
  width: 100%;
  max-width: 300px; /* Adjust as needed for responsive scaling */
  border-radius: 15px; /* Adjust border-radius as needed */
  object-fit: cover;
  height: auto;
}

.profile-container {
  margin: 1em 6em 0em 6em;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.profile {
  flex: 1;
  text-align: center;
}

.profile p {
  margin-top: 10px;
}

.links {
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.links:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8); /* Drop shadow on hover */
    transition: all 0.2s ease;
}

.links-spacer {
  margin-top: 1.1em;
}

.link-easy {
  text-decoration: none;
  color: blue;
}


/* For responsive layout */
@media (max-width: 600px) {
  .image-container {
    flex-direction: column;
  }
  .profile-container {
    flex-direction: column;
    align-items: center;
  }
}

/* – – – – Räume – – – – */

.raum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: .5em;
}

.container-klassisch {
  background-color: #ece6ff;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.container-agil {
  background-color: lightsalmon;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.headline {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 15px;
}

/* – – – – Navigation – – – – */

  .fixed-nav {
    font-family: forma-djr-display, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    z-index: 1000;
}
  
    .fixed-nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8); /* Drop shadow on hover */
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

.fixed-nav .nav-link.active {
  color: blue; /* Change to your desired highlight color */
}

/* a, a:active, a:visited {
  color: blue;
  text-decoration: none;
} */