* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #2E294E;
    font-size: 1.6em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
}

.title {
  font-family: forma-djr-display, sans-serif;
  color: #2E294E;
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0% 5% 0%;
}

.subtitle {
  font-family: forma-djr-display, sans-serif;
  color: #2E294E;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  padding-top: 4%;
  padding-bottom: 8%;
}

.section-text {
  /* padding: 0% 22% 0% 22%; */
  padding-left: 22%;
  padding-right: 22%;
}

.imprint {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
  text-align: center;
  padding: 2% 0% 2% 0%;
}

h2 {
  font-family: forma-djr-display, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 8% 10% 7% 10%;
}

#home {
  background-color: #E9E1FB;
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0% !important;
}

#intro {
  background-color: #E9E1FB;
}

#zweiraeume {
  background-color: #2A0E69;
  padding-bottom: 4% !important;
}

#buch {
  background-color: #FCE2DB;
}

#about {
  background-color: #FCE2DB;
}

#angebot {
  background-color: #E9E1FB;
}

#links {
  background-color: #D83A15;
}

.zitat {
  font-style: italic;
  text-align: center;
  padding: 0% 18% 8% 18%;
  background-color: #2A0E69;
  color: white;
  text-align: center;
}

/* – – – – Akkordeon – – – – */

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
}

button::before {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  display: inline-block;
  /* width: 20px;
  height: 20px; */
  margin-right: 14px; /* Space between disc and button text */
  color: red;
  /* border-radius: 50%; */
  vertical-align: middle; /* Aligns it with the button text */
  margin-bottom: 3px;
}

/* Center container with flexbox */
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

/* Adjusted accordion styling */
.accordion {
  background-color: #2A0E69;
  color: white;
  cursor: pointer;
  width: 60%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color, border-radius 0.2s ease;
  border-radius: 12px; /* Rounded corners */
  padding: 18px;
  margin-bottom: 10px; /* Space between buttons */
}

.accordion:hover {
  background-color: #9C78ED;
  border-radius: 15px 15px 0px 0px;
}

.accordion.active {
  background-color: #9C78ED;
  margin-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
}

.panel {
  width: 60%;
  display: none;
  overflow: hidden;
  margin: 0 auto; /* Center the panel */
  background-color: #2A0E69;
  color: white;
  margin-bottom: 10px; /* Space between panels */
  border-radius: 12px; /* Rounded corners */
  padding: 0 18px;
}

.panel p {
  margin: 15px 0; /* Adjust paragraph margin */
}

/* – – – – Tanja Stephie Images START – – – – */

.image-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between images */
}

.profile img {
  aspect-ratio: 3 / 4;
  width: 100%;
  max-width: 300px; /* Adjust as needed for responsive scaling */
  border-radius: 15px; /* Adjust border-radius as needed */
  object-fit: cover;
  height: auto;
}

.profile-container {
  margin: 1em 6em 0em 6em;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.profile {
  flex: 1;
  text-align: center;
}

.profile p {
  margin-top: 10px;
}

.links {
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.links:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8); /* Drop shadow on hover */
    transition: all 0.2s ease;
}

.links-spacer {
  margin-top: 1.1em;
}

.link-easy {
  text-decoration: none;
  color: blue;
}


/* For responsive layout */
@media (max-width: 600px) {
  .image-container {
    flex-direction: column;
  }
  .profile-container {
    flex-direction: column;
    align-items: center;
  }
}

/* – – – – Räume – – – – */

.raum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.8em;
}

.container-klassisch {
  background-color: #ece6ff;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.container-klassisch.slide-in-left {
  transform: translateX(0);
  opacity: 1;
}

.container-agil {
  background-color: #FCE2DB;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.container-agil.slide-in-right {
  transform: translateX(0);
  opacity: 1;
}

.headline {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
  font-family: forma-djr-display, sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.section {
  margin-bottom: 15px;
}

/* – – – – Navigation – – – – */

  .fixed-nav {
    font-family: forma-djr-display, sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    z-index: 1000;
}
  
    .fixed-nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    color: #fefefe;
    background-color: #541CD2;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8); /* Drop shadow on hover */
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

.fixed-nav .nav-link.active {
  color: white; /* Change to your desired highlight color */
  background-color: #541CD2;
}

.buch-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: red;
}

.buch-info img {
    margin-right: 10vw; /* Add margin to the right of the image */
}

.fly-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1.5s, opacity 2s; /* Increase the duration to 2 seconds */
}

.fly-in-visible {
    opacity: 1;
    transform: translateX(0);
}

.buch-title {
    color: #D83A15; /* Replace with the desired color */
}

.about-title {
    color: #D83A15;
}

.angebot-title {
    color: #2E294E;
}

@media (min-width: 768px) {
  #home {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
  }

  .buch-info {
      margin-top: 0;
      margin-left: 20px;
  }
}

/* a, a:active, a:visited {
color: blue;
text-decoration: none;
} */