* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
    font-family: forma-djr-display, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #7b68ee);
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.04em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
    overflow-x: hidden;
    color: #7b68ee;
}

b {
  letter-spacing: 0.075em;
}

.gradient-text {
  /* background: linear-gradient(to bottom, #7b68ee, #ffffff); */
  background: linear-gradient(to bottom, #7b68ee 0%, #b7afe5 45%, #d6d6f5 55%, #ffffff 100%); /* Adjusted gradient for smoother transition */
  background-clip: text; /* Apply the gradient to the text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-family: forma-djr-display, sans-serif;
  font-weight: 800;
  font-size: 9vw;
  /* color: #2E294E; */
  color: #7b68ee;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0% 5% 0%;
}

.subtitle {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 2.2vw;
  color: #7b68ee;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  padding-top: 4%;
  padding-bottom: 8%;
}

.section-text {
  /* padding: 0% 22% 0% 22%; */
  padding-left: 22%;
  padding-right: 22%;
  color: #7b68ee;
}

.imprint-footer {
  font-size: 0.8em;
  text-align: center;
  padding: 2% 0% 2% 0%;
}

.imprint {
  background-color: rgb(235, 235, 235, 0.8);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0vw 20vw 6vw 20vw;
  height: 100vh;
}

sub {
  display: block;
  text-align: center;
}

h2 {
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 8% 10% 7% 10%;
}

#home {
  /* background-color: #E9E1FB; */
  padding: 8% 0% 0% 0% !important;
}

.home-container {
  display: grid;
  grid-template-columns: 2fr 1.2fr; /* 2 parts for text, 1 part for image and link */
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buch-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.buchcover {
  width: 22vw;
}

.buchcover:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buch-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  gap: 4vw; /* Space between the image and text */;
  margin-top: 8vw;
}

.buchcover-small {
  max-width: 15vw; /* Adjust the width as needed */
  height: auto;
}

.buchcover-small:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buch-text {
  font-size: 1.2vw;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #7b68ee !important; /* Original color */
}

.buch-text p {
  margin-bottom: 10px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #000;
}

/* #intro {
  background-color: #E9E1FB;
} */

/* #buch {
  background-color: floralwhite;
} */

#zweiraeume {
  /* background-color: #7b68ee; */
  padding-bottom: 4% !important;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #7b68ee !important; /* Original color */
}

/* #about {
  background-color: #ebebeb;
} */

/* #angebot {
  background-color: blanchedalmond;
} */

/* #links {
  background-color: #ff0;
} */

.zitat {
  font-family: forma-djr-display, sans-serif;
  font-size: 3vw;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-align: center;
  padding: 4% 18% 8% 18%;
}

/* – – – – Akkordeon – – – – */

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #7b68ee !important; /* Original color */
}

/* Center container with flexbox */
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

/* Adjusted accordion styling */
.accordion {
  cursor: pointer;
  width: auto;
  text-align: center;
  border: none;
  outline: none;
  transition: background-color, border-radius 0.2s ease;
  border-radius: 30px; /* Rounded corners */
  margin-bottom: 10px; /* Space between buttons */
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-size: 1.6vw;
  letter-spacing: 0.05em;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
}

.accordion:hover {
  border-radius: 18px 18px 0px 0px;
  /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3); */
  transition: all 0.2s ease;
}

.accordion.active {
  margin-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
}

.panel {
  width: 60vw;
  display: none;
  overflow: hidden;
  margin: 0 auto; /* Center the panel */
  margin-bottom: 10px; /* Space between panels */
  padding: 0 18px;
}

.panel p {
  margin: 15px 0; /* Adjust paragraph margin */
}

/* – – – – Tanja Stephie Images START – – – – */

.image-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between images */
}

.profile img {
  aspect-ratio: 3 / 4;
  width: 100%;
  max-width: 25vw; /* Adjust as needed for responsive scaling */
  border-radius: 15px; /* Adjust border-radius as needed */
  object-fit: cover;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image */
}

.profile img:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.profile-container {
  margin: 5vw 6em 0em 6em;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.profile {
  flex: 1;
  text-align: left;
}

.profile p {
  margin-top: 2.8vw;
}

.links {
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: #7b68ee !important; /* Original color */
    background-color: white !important;
    font-family: forma-djr-display, sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.06em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.links:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4); /* Drop shadow on hover */
    transition: all 0.2s ease;
}

.links-spacer {
  margin-top: 1.1em;
}

.links-back {
  margin-top: 3vw;
  text-align: center;
}

.link-easy {
  text-decoration: none;
  color: blue;
}

/* – – – – Räume – – – – */

.raum-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2vw;
  font-size: 0.8em;
  overflow: hidden;
  padding: 1vw 3vw 1vw 3vw;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #7b68ee !important; /* Original color */
}

.container-klassisch {
  background-color: #ece6ff;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  flex-direction: column;
}

.container-klassisch:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.container-klassisch.slide-in-left {
  transform: translateX(0);
  opacity: 1;
}

.container-agil {
  background-color: #FCE2DB;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  flex-direction: column;
}

.container-agil:hover {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.container-agil.slide-in-right {
  transform: translateX(0);
  opacity: 1;
}

.headline {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
  font-family: forma-djr-display, sans-serif;
  letter-spacing: 0.02em;
}

.section {
  margin-bottom: 15px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #7b68ee;
}

/* – – – – Navigation – – – – */

  .fixed-nav {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    z-index: 1000;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: #7b68ee !important; /* Original color */
}
  
  .fixed-nav a {
    text-decoration: none;
    color: #7b68ee;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    color: #fefefe;
    background-color: #7b68ee;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4); /* Drop shadow on hover */
    transition: background-color 0.6s ease;
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

.fixed-nav .nav-link.active {
  color: white; /* Change to your desired highlight color */
  background-color: #7b68ee;
  transition: background-color 1s ease;
}

.fly-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1.5s, opacity 2s; /* Increase the duration to 2 seconds */
}

.fly-in-visible {
    opacity: 1;
    transform: translateX(0);
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}


/* Mobile responsive styling */

@media (max-width: 768px) {
  body {
    font-size: 1.2em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  section {
    padding-top: 20%; /* 22% was working */
    padding-bottom: 2%;
  }

  h2 {
    padding-bottom: 11%;
  }

  #home {
    padding: 20vh 0% 0% 0% !important;
  }

  .home-container {
    grid-template-columns: 1fr; /* Adjust the grid layout for mobile */
  }

  .buch-info {
    padding-top: 10%;
  }

  .buchcover {
    min-width: 60%;
    max-width: 80%;
  }

  .buchcover-small {
    display: none;
  }

  .buch-text {
    font-size: 1.2em;
  }

  ul {
    margin: 0% 5% 0% 5%;
  }

  .accordion {
    font-size: 1.2em;
    width: 96%;
  }

  .panel {
    width: 90%;
  }

  .title {
    font-size: 12vw;
  }

  .subtitle {
    font-size: 4vw;
  }

  .zitat {
    font-size: 5vw;
    padding: 0% 5% 0% 5%;
  }

  .section-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .links {
    font-size: 1em;
  }

  .nav-wrapper {
    display: flex;
  }

  .fixed-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    font-size: 1.2em;
    text-align: center;
    transition: top 0.3s; /* Smooth transition for hiding/showing */
    top: 0; /* Initial position */
  }

  .fixed-nav a {
    padding: 5px 10px;
    white-space: nowrap;
  }

  .buch-container {
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .buchcover {
    max-width: 80%;
  }

  .buch-text {
    text-align: center;
  }

  .raum-container hr {
    display: none;
  }

  .raum-container {
    gap: 1%;
    padding: 2% 0% 2% 0%;
  }

  .container-agil, .container-klassisch {
    padding: 2%;
    font-size: 0.8em;
  }

  .section {
    margin-bottom: 5px;
  }

  .profile-container {  
    flex-direction: column;
    align-items: center;
    margin: 5% 1% 0% 5%;
  }

  .profile img {
    max-width: 80%;
  }

  .imprint {
    padding: 0% 5% 6% 5%;
  }

  .imprint-footer {
    padding: 16% 0% 5% 0%;
  }
}