* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #bbb;
    color: black;
    font-size: 2.4em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
    margin-top: 8%;
}

  .fixed-nav {
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    z-index: 1000;
}
  
    .fixed-nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3); /* Drop shadow on hover */
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

.title {
    font-family: forma-djr-display, sans-serif;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    font-family: forma-djr-display, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0% 10% 2% 10%;
}

section {
    background-color: #fefefe;
    margin: 0% 2% 0.5% 2%;
    padding: 2% 10% 2% 10%;
    border-radius: 20px 20px 20px 20px;
}

a, a:active, a:visited {
  color: blue;
  text-decoration: none;
}