* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2em;
    /* letter-spacing: 0.08rem; */
    /* word-spacing: 10%; */
    margin-top: 8%;
}

.title {
  font-family: forma-djr-display, sans-serif;
  color: white;
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0% 5% 0%;
}

.subtitle {
  font-family: forma-djr-display, sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  padding-top: 4%;
  padding-bottom: 6%;
}

.section-text {
  /* padding: 0% 22% 0% 22%; */
  padding-left: 22%;
  padding-right: 22%;
}

.section-title {
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 8% 10% 7% 10%;
}

#home {
  background-color: #0052ff;
}

#intro {
  background-color: #ebebeb;
}

#zweiraeume {
  background-color: #7b68ee;
}

#buch {
  background-color: #b79773;
}

#about {
  background-color: #ebebeb;
}

#angebot {
  background-color: blanchedalmond;
}

#links {
  background-color: #ff0;
}

.zitat {
  font-style: italic;
  text-align: center;
  padding: 0% 18% 0% 18%;
}

.about-img {
  width: 33%;
  border-radius: 1em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

  .fixed-nav {
    font-family: forma-djr-display, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    z-index: 1000;
}
  
    .fixed-nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    opacity: 0; /* Für die Animation auf 0 setzen */
    transform: translateY(20px); /* Startpunkt leicht unterhalb */
    animation: fadeInUp 0.6s ease forwards; /* Animation für den Aufwärts- und Fade-Effekt */
  }
  
  .fixed-nav a:hover {
    background-color: #fefefe;
    color: blue;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8); /* Drop shadow on hover */
}

/* Zeitliche Staffelung der Animation für jedes Navigationselement */
    .fixed-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }
    .fixed-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }
    .fixed-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fixed-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    .fixed-nav a:nth-child(5) {
        animation-delay: 1s;
    }

  /* Definition der Fade-In und Slide-Up Animation */
    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Startpunkt leicht unterhalb */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Endpunkt auf Ausgangshöhe */
    }
  }

a, a:active, a:visited {
  color: blue;
  text-decoration: none;
}